<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>211374585365-na7rkh9jrtke2lcv2uvvdjv04bt05gl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.211374585365-na7rkh9jrtke2lcv2uvvdjv04bt05gl6</string>
	<key>API_KEY</key>
	<string>AIzaSyDUvA2XaFaLzDr9nYo8sWmM2Xv9I3bVzEI</string>
	<key>GCM_SENDER_ID</key>
	<string>211374585365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-d42a1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-d42a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:211374585365:ios:533228b9da6d1119</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-d42a1.firebaseio.com</string>
</dict>
</plist>